.navigation {
    height: 80px;
    // width: 97%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    margin-left: -40px;
    // margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.868);
    z-index: 1;
  
    .logo-container {
      height: 100%;
      width: 95px;
      padding-top: 13px;
      margin-left: 25px;
    }
  
    .nav-links-container {
      height: 100%;
      display: flex;
      padding: 15px;
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  