.navigation {
    height: 80px;
    width: 97% ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    // padding-bottom: 50px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
  
    .logo-container {
      height: 100%;
      width: 95px;
      padding-top: 13px;
    }
  
    .nav-links-container {
      // width: 23%;
      height: 100%;
      display: flex;
      padding: 15px;
      // align-items: center;
      // justify-content: flex-end;
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  